repos:
  - repo: builtin
    hooks:
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        exclude_types: [zsh] # https://github.com/koalaman/shellcheck/issues/809

  - repo: https://github.com/frnmst/md-toc
    rev: 9.0.0
    hooks:
      - id: md-toc
        args: [--in-place, --skip-lines=1, github]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--ignore-words-list=protols]

  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor
        args: [--no-progress, --fix=all]

  - repo: local
    hooks:
      - id: fish_indent
        name: fish_indent
        entry: fish_indent --write
        language: rust
        additional_dependencies:
          - cli:https://github.com/fish-shell/fish-shell:4.3.3
        types: [fish]
      - id: shfmt
        name: shfmt
        entry: shfmt --indent=4 --write
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@d1e5f80]
        types: [shell]
        exclude: .p10k.zsh # https://github.com/mvdan/sh/issues/120
      - id: oxfmt
        name: oxfmt
        entry: oxfmt --no-error-on-unmatched-pattern
        language: node
        additional_dependencies: [oxfmt@0.24.0]
        types: [text]

  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
