name: Pre-commit autoupdate

on:
  schedule: [cron: "0 0 * * 0"] # weekly
  workflow_dispatch:

permissions: {}

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6 # zizmor: ignore[unpinned-uses]
        with:
          persist-credentials: true
      - run: pipx run prek autoupdate
      - name: Create PR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git diff --exit-code && echo No changes to commit && exit 0
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout -b pre-commit-autoupdate
          git commit -am "pre-commit: autoupdate"
          git push -u origin pre-commit-autoupdate && gh pr create --fill
